:root {
    --primary-color: rgba(0,65,85,255);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/*Global*/
label {
    display: block;
    margin-bottom: 0.5rem;
}
input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}
.width-50 {
    width: 50%;
}
.width-30 {
    width: 30%;
}
.ml-auto {
    margin-left: auto;
}
.text-center {
    text-align: center;
}

/*progress bar*/
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}
.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}
.progress{
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}
.progress-step{
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);
}
.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.84rem;
    color: #666666;
}
.progress-step-active{
    background-color: var(--primary-color);
    color: #ffffff;

}


/*form*/
.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}
.form-step {
    display: none;
    transform-origin: top;
    animation: animate .5s;

}
.form-step-active {
    display: block;
}
.input-group {
    margin: 1rem 0;
}
@keyframes animate {
    from{
        transform: scale(1,0);
        opacity: 0;
    }
    to{
        transform: scale(1,1);
        opacity: 1;
    }
}



.input-group input[type="radio"] {
    width: 30%;
    accent-color: var(--primary-color);
}

/*Button*/
.btns-group {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #cccccc;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


/* custom.css */
.custom-bg-color {
    background-color: #004155; /* Replace with your desired color code */
}

/*///////////////////////////////////////////*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(222, 216, 216, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-container {
    background-color: #ffffff;
    border-radius: 0.35rem;
    border: 1px solid var(--primary-color);
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 15px 15px;

}

.okay {

}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;

        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }

        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);
        }

        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
