@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-section{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
h1{
  color: #ff0000;
  font-family: "Dancing Script";
  font-size: 40px;
}
.park{
  color: #1B1464;
  font-family: "Kanit";
  font-weight: bolder;
  font-size: 50px;
}
.hero-text{
  
margin:70px 0;
  padding-left: 10%;
  width: 450px;
  margin-bottom:100px;
}
.heroParagraph{
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.orderbtn{
  margin-top: 50px;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  font-size: 15px;
  font-family: "Kanit";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B1464;
  color:white;
}
.orderbtn:hover{
  cursor: pointer;
  
  opacity:0.9;
}

.service-header{
  text-align: center;
}
.service-header h2{
  font-size: 30px;
  color: #1B1464;
  margin-bottom:20px;
}
.service-header p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 70px;
  
}
.services{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #B0EBE8;
  
 
  margin-bottom: 20px;
  padding:25px;
}
.service-box{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 10px;
  padding: 30px;
}
.service-box h3{
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 30px;
  font-family: "Kanit";
}
.num{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
   color: #1B1464;;

}
.service-text p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 300px;
}

footer{

  background-color: #1B1464;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}
ul{
  list-style-type: none;
  display:flex;
  gap:30px;
}
li{
  margin: 10px 0;
  
}
li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.copyright{
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}
.hiddenPage{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
  }
  .showPage{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
