<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="billOfSaleStyle.css">
</head>
<body>
    <div>
        <form action="#" class="form">
            <h1 class="text-center header">Bill Of Sale</h1>

            <h3>1. LOCATION OF SALE.</h3>
            <P>
                The bill of sale was created on the <input type="number" name="day" id="day"> day of
                <input type="text" name="month" id="month"> 20 <input type="number" name="year" id="year">
                in the country of <input type="text" name="country" id="country"> state of
                <input type="text" name="state" id="state">
            </P>


            <h3>2. THE PARTIES.</h3>
            <p>
                Buyer's Name: <input type="text" name="buyers_name" id="buyers_name"> with a mailing address of <input
                    type="text" name="mail_address" id="mail_address"> ("Buyer")
            </p>
            <p>Seller's Name: <input type="text" name="sellers_name" id="sellers_name"> with a mailing address of
                <input type="text" name="seller_mail_address" id="seller_mail_address"> ("seller")
            </p>
            <p>The buyer and seller hereby agree as follow</p>




            <h3>3. THE EXCHANGE.</h3>
            <p>Chech one</p>
            <p>Cash Payment:</p>
            <p>The buyer agrees to pay $ <input type="number" name="amount" id="amount">
                (US Dollar) to the seller</p>

            <p>Trade-in:</p>
            <p>Buyer agrees to pay $ <input type="number" name="pay" id="pay">
            (US Dollar) and trade in there vehicle described as (trade in vehicle):
                Make: <input type="text" name="make" id="make">
                Model: <input type="text" name="model" id="model">
                Body-Type: <input type="text" name="body_type" id="body_type">
                Year: <input type="text" name="_year" id="_year">
                Color: <input type="text" name="color" id="color">
                Odometer: <input type="text" name="odometer" id="odometer">
                Mles: <input type="text" name="miles" id="miles">
            </p>

            <p>Gift:</p>
            <p>The seller is giving the vehicle as a gift to the buyer.</p>
            <p>The value of a vehicle is $ <input type="number" name="value" id="value">  (US Dollar)</p>

            <p> The above - Checked selection is in exchange for the possession and ownership of the mentor vehicle described in Section 4</p>


            <div class="signature-container">
                <div class="sign-cont">
                    <input type="text" name="b_sign" id="b_sign">
                    <p>Buyer's Signature</p>
                </div>
                <div class="sign-cont">
                    <input type="text" name="s_sign" id="s_sign">
                    <p>Seller's Signature</p>
                </div>
            </div>

            <button type="submit" class="btn text-center">Submit</button>
        </form>
    </div>
</body>
</html>